.header {
	margin-top:53px;
}

.test {
	border: 1px solid red;
}

#hospitals-sidebar {
	padding-top: 5px;
	overflow-y:scroll;
	height:93vh;
}

#hospitals-sidebar .sidebar-title {
	text-transform: uppercase;
	color: #10A0E6;
	font-size: 3.5vmin	;
	font-weight: bold;
}

#hospitals-sidebar .filter-title{
	padding-top:10px;
	text-transform: uppercase;
	color: #23769E;
	font-size: 2.5vmin	;
	font-weight: bold;
}

#hospitals-sidebar .section-title {
	border-bottom: 1px solid #10A0E6;
	margin-bottom:0;
}

.jumbotron-loading {
	background-color: #fff;
}

input[type="checkbox"] {
    /*display:none;*/
}
input[type="checkbox"] {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 1px 0 0;
    vertical-align:middle;
    cursor:pointer;
}

.checkboxes {
	padding-top:10px;
}

.no-padding {
	padding:0;
}

