
#insights .insights-value {
	text-transform: uppercase;
	color: #10A0E6;
	font-size: 2vw	;
	font-weight: bold;
}

#hospitals-sidebar .insight-title{
	padding-top:10px;
	text-transform: uppercase;
	color: #23769E;
	font-size: 1vw	;
	font-weight: bold;
}


#insights .insights-value span {
	color: #b2b2b2;
	font-size: 2vw;
}

#insights .insights-subtext {
	margin-top:-1vh;
	text-transform: uppercase;
	color: #b2b2b2;
	font-size: 1vw	;
	font-weight: bold;
}

#insights .insights-row {
	margin-top:-0.75vh;
}

#insights .no-padding {
	padding:0;
}