input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  border-radius: 8px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: #fff;
}

input[type=range]::-moz-range-thumb {
  background: #10A0E6;
  border: 1px solid #10A0E6;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  cursor: pointer;
}