body, html {
	font-family: 'Signika', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	/*height: 100% !important;*/
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 36px;
	color: #333;
}
h3, h4 {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #6aaf08;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}

.nopadding {
	padding-left:0;

}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

/*hr {
	height: 3px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #6aaf08;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0;
}
*/
.section-title {
	margin-bottom: 70px;
}
.section-title p {
	font-size: 18px;
	color: #666;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #6aaf08;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	border-radius: 6px;
	margin-top: 20px;
	transition: all 0.3s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #5f9d07;
}


.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}